# dplyr Demo

This is a demo to walk through dplyr.  Dplyr is another of the tidyverse packages, and we've already seen a little bit of it.  This demo is based on a [blog post by Gerald Belton](https://www.r-bloggers.com/more-tidyverse-using-dplyr-functions/), along with my additions.

In [ ]:
#I needed to install these packages separately to get tidyverse and gapminder to load.
install.packages('nlme', repos = "http://cran.us.r-project.org", dependencies = TRUE)
install.packages('foreign', repos = "http://cran.us.r-project.org", dependencies = TRUE)

install.packages('tidyverse', repos = "http://cran.us.r-project.org", dependencies = TRUE)
install.packages('gapminder', repos = "http://cran.us.r-project.org", dependencies = TRUE)

In [1]:
library(tidyverse)
library(gapminder)

Warning message:
"package 'tidyverse' was built under R version 3.3.3"Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Warning message:
"package 'ggplot2' was built under R version 3.3.3"Warning message:
"package 'tidyr' was built under R version 3.3.3"Warning message:
"package 'readr' was built under R version 3.3.3"Warning message:
"package 'dplyr' was built under R version 3.3.3"Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Warning message:
"package 'gapminder' was built under R version 3.3.3"

First we can perform some basic filters of the data to get an idea of some of the extremes.

In [2]:
filter(gapminder, lifeExp < 30)
filter(gapminder, lifeExp > 81.5)

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

  country          continent year lifeExp pop       gdpPercap
1 Hong Kong, China Asia      2007 82.208    6980412 39724.98
2 Iceland          Europe    2007 81.757     301931 36180.79
3 Japan            Asia      2002 82.000  127065841 28604.59
4 Japan            Asia      2007 82.603  127467972 31656.07
5 Switzerland      Europe    2007 81.701    7554661 37506.42

dplyr does not have an AND clause; instead, we can chain together logical AND statements with commas.

In [3]:
filter(gapminder, pop > 20000000, gdpPercap > 36000)

  country       continent year lifeExp pop       gdpPercap
1 Canada        Americas  2007 80.653   33390141 36319.24
2 United States Americas  2002 77.310  287675526 39097.10
3 United States Americas  2007 78.242  301139947 42951.65

Similarly, the single pipe (|) acts as the OR operator.

In [4]:
filter(gapminder, pop > 1200000000 | gdpPercap > 100000)

  country continent year lifeExp pop        gdpPercap
1 China   Asia      1997 70.426  1230075000   2289.234
2 China   Asia      2002 72.028  1280400000   3119.281
3 China   Asia      2007 72.961  1318683096   4959.115
4 Kuwait  Asia      1952 55.565      160000 108382.353
5 Kuwait  Asia      1957 58.033      212846 113523.133
6 Kuwait  Asia      1972 67.712      841934 109347.867

The `select` function allows you to select specific variables from the data frame.

In [5]:
select(gapminder, year, lifeExp)

     year lifeExp
1    1952 28.801
2    1957 30.332
3    1962 31.997
4    1967 34.020
5    1972 36.088
6    1977 38.438
7    1982 39.854
8    1987 40.822
9    1992 41.674
10   1997 41.763
11   2002 42.129
12   2007 43.828
13   1952 55.230
14   1957 59.280
15   1962 64.820
16   1967 66.220
17   1972 67.690
18   1977 68.930
19   1982 70.420
20   1987 72.000
21   1992 71.581
22   1997 72.950
23   2002 75.651
24   2007 76.423
25   1952 43.077
26   1957 45.685
27   1962 48.303
28   1967 51.407
29   1972 54.518
30   1977 58.014
...  ...  ...
1675 1982 49.113
1676 1987 52.922
1677 1992 55.599
1678 1997 58.020
1679 2002 60.308
1680 2007 62.698
1681 1952 42.038
1682 1957 44.077
1683 1962 46.023
1684 1967 47.768
1685 1972 50.107
1686 1977 51.386
1687 1982 51.821
1688 1987 50.821
1689 1992 46.100
1690 1997 40.238
1691 2002 39.193
1692 2007 42.384
1693 1952 48.451
1694 1957 50.469
1695 1962 52.358
1696 1967 53.995
1697 1972 55.635
1698 1977 57.674
1699 1982 60.363
1700 1987 62.351
1701 1992 60.377
1702 1997 46.809
1703 2002 39.989
1704 2007 43.487

The pipe operator `%>%` is one of the most important operators in dplyr.  It allows you to take the ouptut from one operation and make it the input for the next operation.

In [6]:
gapminder %>%
  filter(pop > 1200000000) %>%
  select(country, year, lifeExp)

  country year lifeExp
1 China   1997 70.426
2 China   2002 72.028
3 China   2007 72.961

The `mutate` function lets you modify data frames.  In this example, we will add a new calculated variable.

In [7]:
new_gap <- gapminder %>%
  mutate(gdp = pop * gdpPercap)
head(new_gap)

  country     continent year lifeExp pop      gdpPercap gdp
1 Afghanistan Asia      1952 28.801   8425333 779.4453   6567086330
2 Afghanistan Asia      1957 30.332   9240934 820.8530   7585448670
3 Afghanistan Asia      1962 31.997  10267083 853.1007   8758855797
4 Afghanistan Asia      1967 34.020  11537966 836.1971   9648014150
5 Afghanistan Asia      1972 36.088  13079460 739.9811   9678553274
6 Afghanistan Asia      1977 38.438  14880372 786.1134  11697659231

We will sort the data using `arrange`.  This function will sort ascending by default.

In [8]:
new_gap %>%
  arrange(gdp, year) %>%
  head(10)

   country               continent year lifeExp pop    gdpPercap gdp
1  Sao Tome and Principe Africa    1952 46.471   60011  879.5836  52784691
2  Sao Tome and Principe Africa    1957 48.945   61325  860.7369  52784691
3  Sao Tome and Principe Africa    1962 51.893   65345 1071.5511  70020508
4  Equatorial Guinea     Africa    1952 34.482  216964  375.6431  81501035
5  Sao Tome and Principe Africa    1967 54.425   70787 1384.8406  98028711
6  Equatorial Guinea     Africa    1957 35.983  232922  426.0964  99247228
7  Sao Tome and Principe Africa    1972 56.480   76595 1532.9853 117419006
8  Gambia                Africa    1952 30.000  284320  485.2307 137960781
9  Equatorial Guinea     Africa    1962 37.485  249220  582.8420 145255876
10 Sao Tome and Principe Africa    1977 58.550   86796 1737.5617 150813402

If we want to sort in descending order, we can use the `desc()` function inside `arrange`.  The following example shows sorting by GDP descending and then year ascending.

In [9]:
new_gap %>%
  arrange(desc(gdp), continent) %>%
  head(10)

   country       continent year lifeExp pop        gdpPercap gdp
1  United States Americas  2007 78.242   301139947 42951.653 1.293446e+13
2  United States Americas  2002 77.310   287675526 39097.100 1.124728e+13
3  United States Americas  1997 76.810   272911760 35767.433 9.761353e+12
4  United States Americas  1992 76.090   256894189 32003.932 8.221624e+12
5  United States Americas  1987 75.020   242803533 29884.350 7.256026e+12
6  China         Asia      2007 72.961  1318683096  4959.115 6.539501e+12
7  United States Americas  1982 74.650   232187835 25009.559 5.806915e+12
8  United States Americas  1977 73.380   220239000 24072.632 5.301732e+12
9  United States Americas  1972 71.340   209896000 21806.036 4.577000e+12
10 Japan         Asia      2007 82.603   127467972 31656.068 4.035135e+12

Grouping and summarizing data are vital to analysis.  The following code will group the data by continent and then include the count of observations per continent in the data frame.

In [10]:
new_gap %>%
  group_by(continent) %>%
  summarize(n = n())

  continent n
1 Africa    624
2 Americas  300
3 Asia      396
4 Europe    360
5 Oceania    24

We can use grouping and summarizing to look at data at a higher level of granularity than the data itself.  For example, the following code returns the average, by continent, of all life expectancies in the series.

In [11]:
new_gap %>%
  group_by(continent) %>%
  summarize(avg_lifeExp = mean(lifeExp))

  continent avg_lifeExp
1 Africa    48.86533
2 Americas  64.65874
3 Asia      60.06490
4 Europe    71.90369
5 Oceania   74.32621

We can see the value of the pipe operator even more clearly in the following examples as we filter down to a specific year first and then group and summarize the data to generate life expectancies by continent for a particular year.  First, 1952:

In [12]:
new_gap %>%
  filter(year == 1952) %>%
  group_by(continent) %>%
  summarize(avg_lifeExp = mean(lifeExp))

  continent avg_lifeExp
1 Africa    39.13550
2 Americas  53.27984
3 Asia      46.31439
4 Europe    64.40850
5 Oceania   69.25500

Now 2007:

In [13]:
new_gap %>%
  filter(year == 2007) %>%
  group_by(continent) %>%
  summarize(avg_lifeExp = mean(lifeExp))

  continent avg_lifeExp
1 Africa    54.80604
2 Americas  73.60812
3 Asia      70.72848
4 Europe    77.64860
5 Oceania   80.71950

Let's put it all together and look for the single biggest drop in life expectancy by continent from one year to the next.  We will use the `lag()` function to look at the previous record in a particular window (i.e., continent-country pair, sorted by year).  This also allows us to see the `top_n()` function.

In [14]:
new_gap %>%
  select(country, year, continent, lifeExp) %>%
  group_by(continent, country) %>%
  ## within country, take (lifeExp in year i) - (lifeExp in year i - 1)
  ## positive means lifeExp went up, negative means it went down
  mutate(le_delta = lifeExp - lag(lifeExp)) %>% 
  ## within country, retain the worst lifeExp change = smallest or most negative
  summarize(worst_le_delta = min(le_delta, na.rm = TRUE))  %>% 
  ## within continent, retain the row with the lowest worst_le_delta
  top_n(1, wt = -1 * worst_le_delta) %>% 
  arrange(worst_le_delta)

  continent country     worst_le_delta
1 Africa    Rwanda      -20.421
2 Asia      Cambodia     -9.097
3 Americas  El Salvador  -1.511
4 Europe    Montenegro   -1.464
5 Oceania   Australia     0.170

Let's follow that up by looking at the largest single-year gains in life expectancy by continent.

In [15]:
new_gap %>%
  select(country, year, continent, lifeExp) %>%
  group_by(continent, country) %>%
  mutate(le_delta = lifeExp - lag(lifeExp)) %>% 
  summarize(best_le_delta = max(le_delta, na.rm = TRUE)) %>% 
  top_n(1, wt = best_le_delta) %>% 
  arrange(best_le_delta)

  continent country     best_le_delta
1 Oceania   New Zealand  2.010
2 Americas  El Salvador  6.550
3 Europe    Bulgaria     7.010
4 Africa    Rwanda      12.488
5 Asia      Cambodia    19.737

To wrap this up, what are the biggest single-year gains in GDP by continent?

In [16]:
new_gap %>%
  select(country, year, continent, gdpPercap) %>%
  group_by(continent, country) %>%
  mutate(gdp_delta = gdpPercap - lag(gdpPercap)) %>% 
  summarize(best_gdp_delta = max(gdp_delta, na.rm = TRUE)) %>% 
  top_n(1, wt = best_gdp_delta) %>% 
  arrange(best_gdp_delta)

  continent country             best_gdp_delta
1 Oceania   Australia            3747.613
2 Americas  Trinidad and Tobago  6547.909
3 Europe    Ireland              9555.102
4 Africa    Libya               12015.721
5 Asia      Kuwait              28452.984